.list-container {
  box-shadow: 1px 1px 2px 1px gray;
  margin: 10px;
  border-radius: 10px;
  width: 95%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  overflow-y: auto;
}

.list-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.items {
  margin: none;
}