/* .App {
  text-align: center;
} */

#heading {
  /* Alignment */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0% 5% 0%; /* top horizontal bottom */
}

.add-list-btn {
  margin-left: 5%;
  border: 0.1em solid #ffffff;
  transition: 0.3s;
}

.add-list-btn:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.lists {
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, auto));
  gap: 10px;
}

.modal {
  position: absolute;
  inset: 40px;
  border: 1px solid rgb(204, 204, 204);
  background-color: rgb(255, 255, 255);
  overflow: auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  outline: none;
  padding: 20px;
}

