/* .App {
  text-align: center;
} */

#heading {
  /* Alignment */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0% 5% 0%; /* top horizontal bottom */
}

.add-list {
  margin-left: 5%;
}
